<h3><%= I18n.t('user.title.signup') %></h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class="field row">
    <div class="col-4">
      <%= f.input :email, autocomplete: 'email' %>
    </div>
    <div class="col-4">
      <%= f.input :password, autocomplete: 'new-password' %>
    </div>
    <div class="col-4">
      <%= f.input :password_confirmation, autocomplete: 'new-password' %>
    </div>
  </div>

  <div class="field row">
    <div class="col-4">
      <%= f.input :name, autofocus: true, autocomplete: 'name' %>
    </div>
    <div class="col-3">
      <%= f.input :university_id, collection: University.all, select: :blank, input_html: { id: 'university_select', onclick: 'request_data("/colleges.json", "#university_select", "#college_select");' } %>
    </div>
    <div class="col-2">
      <%= f.input :college_id, collection: [], input_html: { id: 'college_select', onclick: 'request_data("/courses.json", "#college_select", "#course_select");' } %>
    </div>
    <div class="col-2">
      <%= f.input :college_has_course_id, collection: [], input_html: { id: 'course_select' }, include_blank: false %>
    </div>
    <div class="col-1">
      <%= f.input :semester, autocomplete: 'semester', input_html: { min: 1, max: 30, value: 1 } %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.input :whatsapp, autocomplete: 'whatsapp' %>
    </div>
    <div class="col">
      <%= f.input :image, as: :file, autocomplete: 'image' %>
    </div>
  </div>

  <hr>

  <h4><%= I18n.t('model.name.addresses') %></h4>
  <div id="addresses">
    <%= f.fields_for :addresses do |address| %>
      <%= render 'address_fields', f: address %>
    <% end %>

    <div class="links">
      <%= link_to_add_association I18n.t('address.link.new'), f, :addresses %>
      <br><br>
    </div>
  </div>

  <hr>

  <div class="actions row">
      <div class="col-md-auto">
        <%= f.button :submit, I18n.t('others.actions.register'), class: 'btn-success' %>
      </div>
      <div class="col-md-auto">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
<% end %>
