<div class="field">
  <%= a.input :street, autocomplete: "street" %>
</div>

<div class="field">
  <%= a.input :neighborhood, autocomplete: "neighborhood" %>
</div>

<div class="field">
  <%= a.input :complement, autocomplete: "complement" %>
</div>

<div class="field">
  <%= a.input :number, autocomplete: "number" %>
</div>

<div class="field">
  <%= a.association :city, autocomplete: "city" %>
</div>