<% reviews.each do |review| %>
  <div class="col-2">
    <%= image_tag 'http://thalesaugusto.com.br/food.jpg', class: 'profile-pic-rounded' %>
  </div>

  <div class="col-10">
    <div class="row header">
      <h3><%= review.user.name %></h3>
      <span>
        <%= image_tag 'star.svg', class: 'icon-star' %>
        <%= review.value %>
      </span>
    </div>
    <div class="row">
      <p><%= review.comment %></p>
    </div>
  </div>
<% end %>