<% reviews.each do |review| %>
  <div class="col-2">
    <% if review.user.image.attached? %>
      <%= image_tag review.user.image.variant(combine_options: { resize: '512x512^', extent: '512x512', gravity: 'Center' }), class: 'profile-pic-rounded' %>
    <% else %>
      <%= image_tag 'avatar1.png', class: 'profile-pic-rounded' %>
    <% end %>
  </div>

  <div class="col-10">
    <div class="row header">
      <h3><%= link_to review.user.name, review.user %></h3>
      <span>
        <%= image_tag 'star.svg', class: 'icon-star' %>
        <%= review.value %>
      </span>
    </div>
    <div class="row">
      <p><%= review.comment %></p>
    </div>
  </div>
<% end %>
