<%= simple_form_for @seller do |f| %>
  <div class="field row">
    <div class="col">
      <%= f.input :name, autocomplete: 'name-seller' %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.input :whatsapp, autocomplete: 'whatsapp' %>
    </div>
    <div class="col-3">
      <%= f.input :instagram, autocomplete: 'instagram' %>
    </div>
    <div class="col">
      <%= f.input :image, as: :file, autocomplete: 'image' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :open %>
    </div>
    <div class="col">
      <%= f.input :delivery %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :description %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
