<div class="row">
  <div class="col-5 col-image">
      <%= image_tag @seller.image.variant(combine_options: { resize: '512x512^', extent: '512x512', gravity: 'Center' }) %>
    </div>

  <div class="col-7">
    <div class="col title-seller"><h2><%= @seller.name %></h2></div>
    <div class="row">
      <div class="col info-seller">
        <p>
          <%= link_to I18n.t('nav.products'), seller_products_path(@seller.id) %>
          <% if current_actor == @seller %>
             | <%= link_to I18n.t('others.actions.edit'), edit_seller_path(@seller) %>
          <% end %>
        </p>
      </div>
      <div class="col rating">
        <%= image_tag('star.svg', class: 'icon-star') %>
        <span><%= "#{@rating} estrelas" %></span>
      </div>
    </div>

    <div class="info-seller">
      <div class="row">
        <div class="col">
          <%= "#{I18n.t('seller.it_is_open')} #{I18n.t(@seller.open.to_s)}" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= "#{I18n.t('seller.it_deliver')} #{I18n.t(@seller.delivery.to_s)}" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-auto">
        <%= link_to image_tag('whatsapp.svg', class: 'icon-social'), url_whatsapp_path(@seller) %>
      </div>
      <div class="col-md-auto">
        <%= link_to image_tag('instagram.svg', class: 'icon-social'), url_instagram_path(@seller) %>
      </div>
    </div>
  </div>
</div>

<div class="description-seller">
  <p id="description">
    <%= @seller.description %>
  </p>
  <hr>
  <div class="row">
    <div class="col align-self-end new_or_edit_link">
      <%= link_to_review unless restricted_area? %>
    </div>
  </div>

  <div class="row card-review">
    <%= render 'card_review', reviews: @seller.reviews %>
  </div>
</div>
