<nav class="navbar navbar-dark navbar-expand-lg navbar-light my-navbar">
  <div class="container">
    <div class="logo">
      <%= image_tag('logo-white.svg', size: '100%') %>
    </div>
    <a class="navbar-brand align-left" href="#">Mercado Universitário</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Minhas vendas', orders_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Meus produtos', products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Meus reviews', reviews_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Meu perfil', current_actor, class: 'nav-link' %>
        </li>
      </ul>

      <%= link_to 'Sair da área restrita', restricted_area_path, class: 'navbar-text nav-link' %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'navbar-text nav-link' %>
    </div>
  </div>
</nav>
