<nav class="navbar navbar-dark navbar-expand-lg navbar-light my-navbar">
  <div class="container col-12">
    <div class="logo">
      <%= image_tag('logo-white.svg', size: '100%') %>
    </div>
    <a class="navbar-brand align-left" href="#"><%= I18n.t('application.name') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if active_nav_orders? %>">
          <%= link_to orders_path, class: 'nav-link' do %>
            <%= I18n.t('seller.link.my_sales') %> <span class="badge badge-light"><%= @badge_seller if @badge_seller.positive? %></span>
          <% end %>
        </li>
        <li class="nav-item <%= 'active' if active_nav_products? %>">
          <%= link_to I18n.t('seller.link.my_products'), products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if active_nav_sellers? || active_nav_configs? %>">
          <%= link_to I18n.t('seller.link.my_profile'), current_actor, class: 'nav-link' %>
        </li>
      </ul>

      <%= link_to I18n.t('others.left_restricted_area'), restricted_area_path, class: 'navbar-text nav-link' %>
      <%= link_to I18n.t('devise.link.signout'), destroy_user_session_path, method: :delete, class: 'navbar-text nav-link' %>
      <%= link_to_change_locale %>
    </div>
  </div>
</nav>
