<nav class="navbar navbar-dark navbar-expand-lg navbar-light my-navbar">
  <div class="container">
    <div class="logo">
      <%= image_tag('logo-white.svg', size: '100%') %>
    </div>
    <a class="navbar-brand align-left" href="#"><%= I18n.t('application.name') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if active_nav_products? %>">
          <%= link_to I18n.t('nav.products'), categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if active_nav_sellers? %>">
          <%= link_to I18n.t('nav.sellers'), sellers_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if active_nav_orders? %>">
          <%= link_to I18n.t('nav.my_orders'), orders_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if active_nav_configs? %>">
          <%= link_to I18n.t('nav.configs'), edit_user_registration_path(current_actor), class: 'nav-link' %>
        </li>
      </ul>

      <% if current_user.seller? %>
        <%= link_to I18n.t('nav.restricted_area'), restricted_area_path, class: 'navbar-text nav-link' %>
      <% else %>
        <%= link_to I18n.t('nav.be_seller'), restricted_area_path, class: 'navbar-text nav-link' %>
      <% end %>
      <%= link_to I18n.t('devise.link.signout'), destroy_user_session_path, method: :delete, class: 'navbar-text nav-link' %>
    </div>
  </div>
</nav>
