<h3>Esqueceu a senha?</h3>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.input :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= render "devise/shared/links" %>

  <div class="actions">
    <%= f.button :submit, 'Enviar' %>
  </div>
<% end %>

