<% seller = order.order_products.first.product.seller %>
<div class="row card_order">
    <div class="col-2">
        <%= image_tag seller.image.variant(combine_options: { resize: '512x512^', extent: '512x512', gravity: 'Center' }), class: 'profile-pic-rounded' %>
    </div>

    <div class="col-4" id="second">
      <h3><%= link_to seller.name, seller %></h3>
      <% order.order_products.each do |order_product| %>
        <p>
          <%= info_product_order(order_product) %>
        </p>
      <% end %>
    </div>

    <div class="col-2" id="third">
      <h4><%= I18n.t('others.total') %></h4>
      <h4><%= number_to_currency(order.price, locale: :'pt-BR') %></h4>
    </div>

    <div class="col-2" id="third">
      <h4><%= I18n.t('others.status') %></h4>
      <h4><%= order.status %></h4>
    </div>

    <div class="col-2">
      <p><%= note_order(order) %></p>
    </div>
  </div>
