<h3><%= I18n.t('user.title.signin') %></h3>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.input :email, autofocus: true, autocomplete: 'email' %>
  </div>

  <div class="field">
    <%= f.input :password, autocomplete: 'current-password' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field row">
      <div class="col-5">
        <%= f.input :remember_me, label: 'lembre-me', as: :boolean %>
      </div>
      <div class="col-7 align-self-end">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.button :submit, 'Logar' %>
  </div>
<% end %>
