<h3><%= I18n.t('user.title.signin') %></h3>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.input :email, autocomplete: 'email' %>
  </div>

  <div class="field">
    <%= f.input :password, autocomplete: 'current-password', input_html: { class: 'no-margin-bottom' } %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field row">
      <div class="col-5 col-lg-12">
        <%= f.input :remember_me, label: I18n.t('others.remember_me'), as: :boolean %>
      </div>
      <div class="col-7 col-lg-12">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.button :submit, I18n.t('others.actions.log_into') %>
  </div>
<% end %>
