<p><%= "#{I18n.t('others.hello')} #{@email}!" %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= I18n.t('user.info.first') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= I18n.t('user.info.second') %> <%= @resource.email %>.</p>
<% end %>
