<p><%= I18n.t('devise.hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.third') %></p>

<p><%= link_to I18n.t('devise.link.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('devise.mailer.fourth') %></p>
<p><%= I18n.t('devise.mailer.fifth') %></p>
