<p><%= I18n.t('devise.hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('devise.mailer.first') %></p>

<p><%= I18n.t('devise.mailer.second') %></p>

<p><%= link_to I18n.t('devise.link.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
