<% if @title.present? %>
  <div class="title_for_products">
    <h2><%= @title %></h2>
  </div>
  <hr>
<% end %>

<%= render 'layouts/shared/search', label: I18n.t('model.name.product').pluralize, url: relative_products_url %>

<%= link_to I18n.t('product.link.register_product'), new_product_path if restricted_area? %>

<div class="row">
  <% @products.each do |p| %>
    <div class="col-6 col-md-6 col-lg-3">
      <%= render 'layouts/shared/card', item: p, label: "#{number_to_currency(p.price, locale: :'pt-BR')} - #{p.name}", url_path: product_path(p) %>
    </div>
  <% end %>
</div>

<%= paginate @products %>
