<div class="row">
  <div class="col-5 col-image">
    <%= image_tag @product.image.variant(combine_options: {resize: '512x512^', extent: '512x512', gravity: 'Center'}) %>
  </div>

  <div class="col-7">
    <div class="col title-product"><h2><%= @product.name %></h2></div>
    <div class="row">
      <div class="col info-product">
        <p>Preço: R$<%= @product.price %></p>
        <p>Categoria: <%= @product.category.name %></p>
        <p>Vendedor: <%= link_to @product.seller.name, @product.seller %></p>
      </div>
      <div class="col order-product">
        <% if restricted_area? %>
          <%= link_to 'Deletar', @product, method: :delete %> | 
          <%= link_to 'Editar', edit_product_path(@product) %>
        <% else %>
          <%= render 'order_product_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row description-product">
  <p><%= @product.description %></p>
</div>