<p><%= "#{@product.name} - #{@product.price}" %></p>
<p><%= "#{@product.description}" %></p>
<p><%= "#{@product.category.name}" %></p>

<% if restricted_area? %>
  <%= link_to 'Deletar', @product, method: :delete %> | 
  <%= link_to 'Editar', edit_product_path(@product) %>
<% else %>
  <%= render 'order_product_form' %>
<% end %>
<%= link_to 'Todos produtos', products_path %> | 