<div class="row">
    <div class="col-5 col-image">
      <%= image_tag 'http://thalesaugusto.com.br/food.jpg' %>
    </div>
  
    <div class="col-7">
      <div class="col title-seller"><h2><%= @seller.name %></h2></div>
      <div class="col link_delete_review">
        <%= link_to 'Excluir opnião', seller_review_path(@seller, @review), method: :delete if @review.persisted? %>
      </div>
      <%= simple_form_for [@seller, @review] do |f| %>
        <%= f.input :value, input_html: { min: 1, max: 5, value: @review.value || 5 } %>
        <%= f.input :comment %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>