<!DOCTYPE html>
<html>
  <head>
    <title>MercadoUniversitario</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo-colorfull.png') %>
  </head>

  <body>
    <% if !user_signed_in? %>
      <%= render 'layouts/nav/public' %>
    <% elsif restricted_area? %>
      <%= render 'layouts/nav/seller' %>
    <% else %>
      <%= render 'layouts/nav/user' %>
    <% end %>
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <% if flash[:info].present? %>
        <div class="alert alert-info" role="alert">
          <%= flash[:info] %>
        </div>
      <% end %>

      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
