<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('application.name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo-colorfull.png') %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158583242-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158583242-1');
    </script>
  </head>

  <body>
    <%= render 'layouts/nav/public' %>
    <div class="container col-12">
      <% if notice.present? %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="row main-login">
        <div class="col-lg-6 col-12 welcome">
          <%= image_tag('logo-colorfull.svg') %>
          <h3><%= I18n.t('application.name') %></h3>
          <p><%= I18n.t('login.phrase') %></p>
        </div>
        <div class="col-lg-6 col-12">
          <div class="box-rounded">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'footer' %>
  </body>
</html>
